// http://ionicframework.com/docs/v2/theming/

// Ionic Shared Functions
// --------------------------------------------------
// Makes Ionic Sass functions available to your App

@import 'globals.core';

// App Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files. Setting
// variables before Ionic's Sass will use these variables rather than
// Ionic's default Sass variable values. App Shared Sass imports belong
// in the app.core.scss file and not this file. Sass variables specific
// to the mode belong in either the app.ios.scss or app.md.scss files.


// App Shared Color Variables
// --------------------------------------------------
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
// Both iOS and MD colors can be further customized if colors
// are different per mode.

$colors: (
  primary:    #387ef5,
  secondary:  #32db64,
  danger:     #f53d3d,
  light:      #f4f4f4,
  dark:       #222,
  favorite:   #69BB7B, 
  cus-blue:  	#0a9fcb,
  cus-white: 	#fff,
  cus-gray:		#e1e1e1
);

.cus-blue	{color: #0a9fcb;}

.cus-gray-bg 	{background-color: #e1e1e1; }

.cus-dark 		{color: #666666; }

//--------- Font Setting ------------//
.f20 {	font-size: 2.0rem 	}
.f18 {	font-size: 1.8rem	}
.f16 {	font-size: 1.6rem	}
.f14 {	font-size: 1.4rem	}
.f12 {	font-size: 1.2rem	}
.f10 {	font-size: 1.0rem	}
.f8  {	font-size: 	.8rem	}

//--------- Margin Setting -----------//
.mg-t-5 	{margin-top: 5px; }

.mg-t-20	{margin-top: 20px; }

//---------- Padding Setting ------------//
.pd-12	{padding: 12px; }

.center {text-align: center;}

.flex {display: flex;}

//---------- Component Styling ----------//
ion-navbar {
	.bar-button {
		text-transform: capitalize;
		margin-left: -2px;
	}
	.bar-button-menutoggle ion-icon{
		font-size: 3.0rem;
	}
	.toolbar-content {
		.toolbar-title {
			font-size: 1.8rem;
			text-align: center;
			font-weight: 400;
		}
	}
} 

ion-content {
	ion-list {
		border-bottom: solid 1px #666666;
		
		.avatar-item {
			min-height: 9rem;
			background-color: #e1e1e1;
			border-bottom: solid 1px #666666;
			padding-left: 26px;
			position: relative;

			ion-avatar {
				img {
					max-width: 6.6rem;
					max-height: 6.6rem;
					border-radius: 3.3rem;
				} 
			}
			ion-label {
				white-space: normal;
				div {
					margin-top: .9rem;
					margin-bottom: .9rem;
				}
				.arrow-btn-wrapper {
					position: absolute;
					top: .5rem;
					right: 1.2rem;

					div {
						float: left;
					}
					span {
						float: left;
						margin-top: 0.7rem;
						margin-left: 0.7rem;

						ion-icon {
							font-size: 1.6rem;
							color: #666666;
						}
					}
				}
			}
			.close-btn {
				position: absolute;
				left: 0;
				top: -.2rem;
				padding-right: 1rem;
				padding-bottom: 1rem;

				ion-icon {
					font-size: 1.4rem;
					color: black;
					font-weight: 600;
				}
			}
			.chat-btn-wrapper {
				position: absolute;
				right: 1.2rem;
				top: 2.4rem;
				button {
					margin-bottom: 0;

					ion-icon {
						background-image: url("../../img/chat-icon-blue.png");
						width: 2.4rem;
						height: 2.4rem;
						background-size: 100%;
						background-repeat: no-repeat;
						background-position: center center;
					}
				}
			}
		}

		.arrow-icon-item {
			padding-left: 1.2rem;
			background-color: #e1e1e1;
			border-bottom: solid 1px #666666;

			.input-wrapper {
				ion-label {
					font-size: 1.4rem;
				}
			}
			ion-icon {
				font-size: 1.6rem;
				padding-top: 0.2rem;
			}
		}
	}
}











